.contextual
  = link_to l(:label_hr_adaptive_issue_new), new_hr_adaptive_issue_path, :class => 'icon icon-add'

%h2=l(:label_hr_adaptive_issue_plural)

- if @hr_adaptive_issues.any?
  %table.list
    %thead
      %tr
        %th="#"
        %th=l(:field_hr_adaptive_issue)
        %th=l(:field_hr_status)
        %th=l(:field_project)
        %th=l(:field_start_date)
        %th=l(:field_due_date)
        %th=l(:field_assigned_to)
        %th
    %tbody
      - @hr_adaptive_issues.each_with_index do |hr_adaptive_issue, index|
        %tr{:class=>cycle("odd", "even")}
          %td= index+1
          %td= link_to h(hr_adaptive_issue.subject), hr_adaptive_issue_path(hr_adaptive_issue)
          %td= h(hr_adaptive_issue.hr_status.name)
          %td= link_to_project hr_adaptive_issue.project
          %td= t(hr_adaptive_issue.start_date, :scope => :list_adaptive_issue_date_variants)
          %td= t(hr_adaptive_issue.due_date, :scope => :list_adaptive_issue_date_variants)
          %td= link_to_user hr_adaptive_issue.assigned_to
          %td.buttons
            = link_to l(:button_copy), {:action => :new, :hr_adaptive_issue => hr_adaptive_issue.to_hash}, :class => 'icon icon-copy'
            = link_to l(:button_update), {:action => 'edit', :id => hr_adaptive_issue.id}, :class => 'icon icon-edit'
            = link_to(l(:button_delete), hr_adaptive_issue_path(hr_adaptive_issue), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del')
- else
  %p.nodata
    = l(:label_no_data)

- html_title(l(:label_hr_adaptive_issue_plural))
