.contextual
  = link_to l(:button_add), {:action => 'new'}, :class => 'icon icon-add'
  = link_to l(:button_update), {:action => 'edit', :id => @hr_status.id}, :class => 'icon icon-edit'
  = link_to l(:button_delete), hr_status_path(@hr_status), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'

%h2
  = l(:label_hr_status)
  = h(@hr_status.name)

%table.list
  %thead
    %tr
      %th=l(:field_hr_candidate_fullname)
      %th=l(:field_birth_date)
      %th=l(:field_phone)
      %th=l(:field_hr_job)
      %th=l(:field_due_date)
      %th
  %tbody
    - for hr_candidate in @hr_candidates
      %tr{:class=>cycle("odd", "even")}
        %td= link_to h(hr_candidate.name), hr_candidate_path(hr_candidate)
        %td{:align=>"center"}= format_date(hr_candidate.birth_date)
        %td{:align=>"center"}= h(hr_candidate.phone)
        %td{:align=>"center"}= link_to h(hr_candidate.hr_job), hr_job_path(hr_candidate.hr_job)
        %td{:align=>"center"}= format_date(hr_candidate.due_date)
        %td.buttons
          = link_to l(:button_update), {:controller => 'hr_candidates', :action => 'edit', :id => hr_candidate.id}, :class => 'icon icon-edit'
          = link_to(l(:button_delete), hr_candidate_path(hr_candidate), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del')

%p.pagination= pagination_links_full @hr_candidate_pages

- html_title(l(:label_hr_status_plural))
