.splitcontentleft
  - if @hr_members.any?
    %table.list.users
      %thead
        %tr
          %th= l(:label_user)
          %th{:style=>"width:15%"}
      %tbody
        - @hr_members.sort_by{ |m| m.user }.each do |member|
          %tr{:id=>"user-#{member.user_id}", :class => cycle('odd', 'even')}
            %td.user
              = link_to_user member.user
            %td.buttons
              = delete_link hr_member_path(member), :remote => true
  - else
    %p.nodata
      = l(:label_no_data)

.splitcontentright
  #tab-content-users
    = form_for :hr_member, :html => {:class => :edit_group, :method => :post}, :remote => true, :url => {:action => :create} do |f|
      %fieldset
        %legend
          =l(:label_user_new)

        = label_tag "user_search", l(:label_user_search)
        = text_field_tag 'user_search', nil
        = javascript_tag "observeSearchfield('user_search', null, '#{ escape_javascript autocomplete_for_user_hr_members_path }')"

        #users
          = render_principals_for_new_hr_members

        %p= submit_tag l(:button_add)
