%h2= l(:label_edit_hr_candidate)

- labelled_form_for @hr_candidate, :html => { :id => 'hr_candidate-form', :multipart => true, :method => :put} do |f|
  = render :partial => 'form', :locals => { :f => f }
  %fieldset
    %legend= l(:field_notes)
    %p= text_area_tag :notes, @hr_candidate.notes, :cols => 60, :rows => 15, :class => 'wiki-edit'
  = wikitoolbar_for 'notes'
  = submit_tag l(:button_save)

