%h2= l(:label_edit_hr_candidate)

- form = labelled_form_for @hr_candidate, :html => { :id => 'hr_candidate-form', :multipart => true, :method => :put} do |f|
  = render :partial => 'form', :locals => { :f => f }
  .box
    %fieldset
      %legend= l(:field_notes)
      %p= text_area_tag :notes, nil, :cols => 60, :rows => 5, :class => 'wiki-edit'
    = wikitoolbar_for 'notes'
  = submit_tag l(:button_save)
= form if Rails::VERSION::MAJOR < 3

#history
  %h3=l(:label_history)
  = render :partial => 'history', :locals => { :hr_changes => @hr_candidate.hr_changes }
