.contextual
  = link_to l(:label_hr_candidate_new), new_hr_candidate_path, :class => 'icon icon-add'

%h2=l(:label_hr_candidate_plural)

- form_tag({}, :method => :get) do
  %fieldset
    %legend= l(:label_filter_plural)

    = hidden_field_tag :time_period, params[:time_period]
    
    %label{:for=>'hr_job_id'}= l(:field_hr_job) + ":"
    %select{:id => 'hr_job_id', :name => 'hr_job_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option
      - HrJob.all(:order => :name).each do |hr_job|
        - if params[:hr_job_id].to_i == hr_job.id
          %option{:value => hr_job.id, :selected => "selected"}
            = hr_job.name
        - else
          %option{:value => hr_job.id}
            = hr_job.name
            
    %label{:for=>'hr_status_id'}= l(:field_hr_status) + ":"
    %select{:id => 'hr_status_id', :name => 'hr_status_id', :class => "small", :onchange => "this.form.submit(); return false;"}
      %option
      - HrStatus.all(:order => :position).each do |hr_status|
        - if params[:hr_status_id].to_i == hr_status.id
          %option{:value => hr_status.id, :selected => "selected"}
            = hr_status.name
        - else
          %option{:value => hr_status.id}
            = hr_status.name
    %br
    
    %label=l(:field_due_date) + ":"
    - %w{all yesterday today tomorrow this_week next_week this_month next_month}.each do |key|
      - if params[:time_period] == key
        %strong= l(:"label_#{key}")
      - else
        = link_to l(:"label_#{key}"), params.merge( :time_period => key )
      = "/"

&nbsp;

%table.list
  %thead
    %tr
      = sort_header_tag 'name', :caption => l(:field_hr_candidate_fullname)
      = sort_header_tag 'birth_date', :caption => l(:field_birth_date)
      = sort_header_tag 'phone', :caption => l(:field_phone)
      = sort_header_tag 'hr_job_id', :caption => l(:field_hr_job)
      = sort_header_tag 'hr_status_id', :caption => l(:field_hr_status)
      = sort_header_tag 'due_date', :caption => l(:field_due_date)
      %th
  %tbody
    - for hr_candidate in @hr_candidates
      %tr{:class=>cycle("odd", "even")}
        %td= link_to h(hr_candidate.name), hr_candidate_path(hr_candidate)
        %td{:align=>"center"}= link_to(format_date(hr_candidate.birth_date), :birth_date => hr_candidate.birth_date)
        %td{:align=>"center"}= link_to(h(hr_candidate.phone), :phone => hr_candidate.phone)
        %td{:align=>"center"}= link_to(h(hr_candidate.hr_job), :hr_job_id => hr_candidate.hr_job_id)
        %td{:align=>"center"}= link_to(h(hr_candidate.hr_status), :hr_status_id => hr_candidate.hr_status_id)
        %td{:align=>"center"}= link_to(format_date(hr_candidate.due_date), :due_date => hr_candidate.due_date)
        %td.buttons
          = link_to l(:button_update), {:action => 'edit', :id => hr_candidate.id}, :class => 'icon icon-edit'
          = link_to(l(:button_delete), hr_candidate_path(hr_candidate), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del')

%p.pagination= pagination_links_full @hr_candidate_pages, @hr_candidate_count

- form_tag({}, :method => :get) do
  %fieldset
    %legend= l(:label_filter_plural)
            
    %label{:for=>'name'}= l(:field_hr_candidate_fullname) + ":"
    = text_field_tag 'name', params[:name], :size => 30
    
    %label{:for=>'phone'}= l(:field_phone) + ":"
    = text_field_tag 'phone', params[:phone], :size => 10
    
    = submit_tag l(:button_apply), :class => "small", :name => nil
    = link_to l(:button_clear), hr_candidates_path, :class => 'icon icon-reload'

- html_title(l(:label_hr_status_plural))
