.contextual
  = link_to l(:button_add), {:action => 'new'}, :class => 'icon icon-add'
  = link_to l(:button_update), {:action => 'edit', :id => @hr_candidate.id}, :class => 'icon icon-edit'
  = link_to l(:button_delete), hr_candidate_path(@hr_candidate), :confirm => l(:text_are_you_sure), :method => :delete, :class => 'icon icon-del'

%h2
  = l(:label_hr_candidate)
  = h(@hr_candidate.name)

.issue.details
  %table.attributes
    %tr
      %th.name= l(:field_hr_candidate_fullname)+":"
      %td.name= h(@hr_candidate.name)
      %th.hr_job= l(:field_hr_job)+":"
      %td.hr_job= link_to h(@hr_candidate.hr_job), hr_job_path(@hr_candidate.hr_job)
    %tr    
      %th.phone= l(:field_phone)+":"
      %td.phone= h(@hr_candidate.phone)
      %th.email= l(:field_email)+":"
      %td.email= mail_to @hr_candidate.email
    %tr
      %th.birth_date= l(:field_birth_date)+":"
      %td.birth_date= format_date(@hr_candidate.birth_date)
      %th.due_date= l(:field_due_date)+":"
      %td.due_date= format_date(@hr_candidate.due_date)
    %tr
      %th.updated_on= l(:field_updated_on)+":"
      %td.updated_on= format_date(@hr_candidate.updated_on)
      %th.created_on= l(:field_created_on)+":"
      %td.created_on= format_date(@hr_candidate.created_on)
    %tr
      %th.hr_status= l(:field_hr_status)+":"
      %td.hr_status= link_to h(@hr_candidate.hr_status), hr_status_path(@hr_candidate.hr_status)
      
  %hr
  %p
    %strong= l(:field_description)
  .wiki= textilizable @hr_candidate, :description, :attachments => @hr_candidate.attachments
  = link_to_attachments @hr_candidate

- if @hr_changes.present?
  #history
    %h3=l(:label_history)
    = render :partial => 'history', :locals => { :hr_changes => @hr_changes }
